* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.main-container {
    width: 1000px;
    height: 600px;
    margin-top: -50px;
}

.image-container {
    height: 80%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
    padding-top:10px;
    position: relative;
}

.logo {
    position: absolute;
    width: 60%;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.cursor{
    width: 6rem;
    position: absolute;
    top:60%;
    left:70%;
    -webkit-transform: translateZ(50px) rotate(-10deg);
            transform: translateZ(50px) rotate(-10deg);
}

.scroll {
    width: 22rem;
    position: absolute;
    top:68%;
    left:2%;
    -webkit-transform: translateZ(-50px) rotate(25deg);
            transform: translateZ(-50px) rotate(25deg);
}

.dropdown {
    width: 25rem;
    position: absolute;
    top:5%;
    left:60%;
    -webkit-transform: translateZ(-70px);
            transform: translateZ(-70px);
}

.radio {
    width: 5rem;
    position: absolute;
    top:70%;
    left:55%;
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
}

.grid {
    width: 10rem;
    position: absolute;
    left:15%;
    -webkit-transform: translateZ(40px);
            transform: translateZ(40px);
}

.button {
    width: 8rem;
    position: absolute;
    top:15%;
    left:35%;
    -webkit-transform: translateZ(100px) rotate(-35deg);
            transform: translateZ(100px) rotate(-35deg);
}

.coming-soon {
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .main-container{
        width: 600px;
    }
    .logo {
        width: 70%;
    }
    
    .cursor{
        width: 4.5rem;
        top:58%;
        left:70%;
    }
    
    .scroll {
        width: 12rem;
        top:65%;
        left:2%;
    }
    
    .dropdown {
        width: 12rem;
        top:23%;
        left:62%;
    }
    
    .radio {
        width: 3rem;
        top:65%;
        left:55%;
    }
    
    .grid {
        width: 7rem;
        top: 15%;
        left:8%;
    }
    
    .button {
        width: 5rem;
        top:28%;
        left:35%;
    }

    .coming-soon {
        font-size: 25px;
        margin-top: -80px;
    
    }
}


@media screen and (max-width: 600px) {
    .main-container{
        width: 450px;
    }
    .logo {
        width: 80%;
    }
    
    .cursor{
        width: 4rem;
        top:55%;
        left:75%;

    }
    
    .scroll {
        width: 10rem;
        top:65%;
        left:2%;
    }
    
    .dropdown {
        width: 10rem;
        top:26%;
        left:63%;
    }
    
    .radio {
        width: 3rem;
        top:60%;
        left:55%;
    }
    
    .grid {
        width: 6rem;
        top: 20%;
        left:5%;
    }
    
    .button {
        width: 5rem;
        top:28%;
        left:35%;
    }

    .coming-soon {
        font-size: 25px;
        margin-top: -80px;
    
    }
}

@media screen and (max-width: 450px) {
    .main-container{
        width: 300px;
    }
    .logo {
        width: 90%;
    }
    
    .cursor{
        width: 2.5rem;
        top:55%;
        left:75%;
    }
    
    .scroll {
        width: 8rem;
        top:61%;
        left:0%;
    }
    
    .dropdown {
        width: 7rem;
        top:34%;
        left:65%;
    }
    
    .radio {
        width: 2.5rem;
        top:60%;
        left:55%;
    }
    
    .grid {
        width: 5rem;
        top: 25%;
        left:0%;
    }
    
    .button {
        width: 3rem;
        top:35%;
        left:35%;
    }

    .coming-soon {
        font-size: 16px;
        margin-top: -125px;
    }
}